<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1 kuffi">إضافة شهادة جديدة  </h4>
               
            </div><!-- end card header -->
        <form #f="ngForm" (ngSubmit)="onSaveResource(f)" [ngClass]="{'was-validated':formSubmitted}">
            <div class="card-body">
                <p></p>
                <div class="live-preview">
                    <div class="row gy-4">
                 
          
                        <div class="col-xxl-3 col-md-3">
                            <div>
                                <label for="placeholderInput" class="form-label kuffi"> 
                                    رقم البطاقة الوطنية للمواطن 
                                  </label>
                                <input type="text" name="cin" [(ngModel)]="cin"  class="form-control kuffi" id="placeholderInput"
                                    placeholder=" رقم البطاقة الوطنية للمواطن"  >
                                   
                                    <!-- <div class="invalid-feedback kuffi" *ngIf="(f.submitted && designationInput.invalid)">
                                        يرجى إسم الحي بالعربية
                                    </div> -->
                                  
                                  
                                   
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-6 col-md-6">
                            <div>
                                <label for="placeholderInput" [hidden]="true" class="form-label kuffi">إسم الحي بالفرنسية  </label> <br>
                                <button class="btn btn-primary kuffi mt-2" type="button" (click)="searchByCin()">بحث</button>
                                  
                                  
                                   
                            </div>
                        </div><!--end col-->
            
                     
                    

    </div>
 
    </div>
    <div *ngIf="display==true">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                     <div class="card-header">
                     <label style="font-weight: bold;color: red;">  تفاصيل المواطن : </label>  <label style="font-weight: bold;color: red;">{{currentResource?.firstNameAr}} {{currentResource?.lastNameAr}}</label> 
                     </div>
                     <div class="card-body">
                        <div class="row gy-4">
            
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-label">الإسم الشخصي بالعربية</label> :&nbsp;
                               <span style="font-weight: bold;" class="kuffi">{{currentResource?.firstNameAr}}</span> 
                              
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-label">
                                    الإسم العائلي بالعربية
                                </label> :&nbsp;
                                <span style="font-weight: bold;" class="kuffi">{{currentResource?.lastNameAr}}</span> 
                              
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-label">الإسم الشخصي بالفرنسية</label> :&nbsp;
                                <span style="font-weight: bold;">{{currentResource?.firstNameFr | uppercase }}</span> 
                         
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-label">الإسم العائلي بالفرنسية</label> :&nbsp;
                                <span style="font-weight: bold;">{{currentResource?.lastNameFr | uppercase}}</span> 
                         
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
            
                            <div>
                                <label for="placeholderInput" class="form-label">رقم البطاقة الوطنية</label> :&nbsp;
                                <span style="font-weight: bold;">{{currentResource?.cin | uppercase}}</span> 
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-lSH12543abel">الهاتف</label> :&nbsp;
                                <span style="font-weight: bold;">{{currentResource?.phone}}</span> 
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="placeholderInput" class="form-label">البريد الإلكتروني</label> :&nbsp;
                                <span style="font-weight: bold;">{{currentResource?.email}}</span> 
                            <!-- <div class="invalid-feedback" *ngIf="f.submitted && email.invalid && email.errors?.['email']">
                                يرجى إدخال البريد الإلكتروني بصيغة صحيحة.
                            </div> -->
                        </div><!--end col-->
              
                      
                        </div>
                        
                  
                
              
                     </div>
                </div>
            </div>
            <div>
                <div class="col-xxl-4 col-md-6">
                <label for="placeholderInput" class="form-label kuffi"
                >
              نوع الشهادة
             </label>
             <select class="form-select mb-3 kuffi" name="typeAttestation" required  ngModel  #designationInput="ngModel">
                <option  value="" disabled selected>أدخل  نوع الشهادة</option>
                <option *ngFor="let pachalik of typeAttestations" [value]="pachalik.id">{{pachalik.designation}}</option>
            
              </select> 
              </div>
              <div class="invalid-feedback kuffi" *ngIf="f.submitted && (designationInput.invalid)">
                    
                يرجى إدخال نوع الشهادة
             </div>
             <div class="col-xxl-4 col-md-6">
                <div>
                    <label for="placeholderInput" class="form-label kuffi"> بحث عون السلطة </label>
                    <select class="form-select mb-3 kuffi" name="agentAutorite"  required ngModel #designationFrInput="ngModel">
                        <option  value="" disabled selected>أدخل عون السلطة</option>
                        <option *ngFor="let agent of agentAutorites" [value]="agent.id">{{agent.cin}}-{{agent.nom}}-{{agent.prenom}}</option>
                      </select> 
                    <div class="invalid-feedback kuffi" *ngIf="f.submitted && designationFrInput.invalid">
                        يرجى إدخال إسم الدائرة بالفرنسية
                    </div>  
                </div>
            </div><!--end col-->
            <div class="col-xxl-4 col-md-6">
                <label for="placeholderInput" class="form-label kuffi">تاريخ تسجيل الشهادة </label>
                <input type="date" name="dateOfBirth"  ngModel [(ngModel)]="dateOfBirthValue" style="text-align: right;" [ngClass]="{'is-invalid':(dateOfBirth.errors && dateOfBirth.touched)||(dateOfBirth.errors && formSubmitted),
                'is-valid': (!dateOfBirth.errors && dateOfBirth.touched)||(!dateOfBirth.errors && formSubmitted)}" required   class="form-control kuffi" id="placeholderInput"
                    placeholder="أدخل تاريخ تسجيل الشهادة    " #dateOfBirth="ngModel">
                    <div [hidden]="!dateOfBirth.errors?.['required']"  class="invalid-feedback">
                        المرجو إدخال تاريخ الإزدياد
                    </div>
                    
                   
            </div>
            <div class="col-xxl-4 col-md-6 mt-3">
            <label for="placeholderInput" class="form-label">الغرض من الشهادة  </label>
            <input type="text" class="form-control kuffi" [ngClass]="{'is-invalid':(prenomFr.errors && prenomFr.touched)||(prenomFr.errors && formSubmitted),
            'is-valid': (!prenomFr.errors && prenomFr.touched)||(!prenomFr.errors && formSubmitted)}" required id="placeholderInput"
            ngModel name="but" placeholder="أدخل الغرض من الشهادة  "  #prenomFr="ngModel">
            <div class="card-footer">
            <div class="hstack gap-2">
            <button class="btn btn-success  kuffi" type="submit" >تسجيل الشهادة</button>
            <button type="button" class="btn btn-danger kuffi" (click)="reset(f)">إلغاء</button>
            </div>
                 </div> 
                   </div>
            </div>
                </div>
                </div>
            
        </div>
    </div>
    </div>

 
           </form>
