@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi', serif;
  font-weight: bold;
}
.droid-arabic-kufi2 {
    font-family: 'Droid Arabic Kufi', serif;
  
  }
.topbar-center-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
  pointer-events: none;
  color: #1f2937;
}

/* Hide center title on small screens */
@media (max-width: 768px) {
  .topbar-center-title {
    display: none;
  }
}
