
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4 class="card-title mb-0 flex-grow-1"><i class="ri-line-chart-fill" style="color: #364574;"></i> لائحة  المواطنين</h4>
          <!-- <button type="button" (click)="export()" class="btn btn-soft-info add-btn ms-auto">تصدير  <i class="ri-file-download-line align-bottom me-1"></i></button>&nbsp; -->
          <button type="button" (click)="addResource()" class="btn btn-success add-btn ms-auto">مواطن جديد <i class="ri-add-line align-bottom me-1"></i></button>
        &nbsp;
          <div class="kuffi pt-2">أظهر</div> &nbsp;&nbsp;&nbsp;&nbsp;
          <select class="form-select" style="width: 100px;"  (change)="onSelectedSize($event)">
            <option  [value]="8">8</option>
            <option  [value]="10">10</option>
            <option  [value]="20">20</option>
            <option  [value]="40">40</option>
            <option  [value]="60">60</option>
            <option  [value]="80">80</option>
            <option  [value]="100">100</option>
            
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="kuffi ">مدخلات</div>
        </div><!-- end card header -->
      
        <div class="card-body">
          <div class="row g-4 mb-3">
            <div class="col-sm flex-container2">
              <div class="d-flex">
                <div class="search-box">
                  <input type="text" class="form-control search kuffi" style="width: 190px;" [(ngModel)]="cin" placeholder="البحث بالبطاقة الوطنية...">
                </div>&nbsp;
                <div> <button class="btn btn-primary" (click)="searchUser()"><i class="ri-search-line"></i></button></div>
                 
             
          &nbsp;
          
                    &nbsp;&nbsp;
   

        
                    <select class="form-select mb-3 kuffi" style="width: 155px;" name="pachalik" #pachalik="ngModel" ngModel (ngModelChange)="onPachalikClicked($event)">
                      <option disabled value="" selected>الباشوية </option>
                      <option  [value]="0">-</option>
                      <option *ngFor="let pachalik of pachaliks" [value]="pachalik.id">{{pachalik.designation}}</option>
                    </select>&nbsp;&nbsp;
                    <select class="form-select mb-3 kuffi" style="width: 155px;" name="district" #district="ngModel" [(ngModel)]="d" (ngModelChange)="onDistrictClicked($event)" *ngIf="showDistrict">
                      <option disabled value="" selected>   بالدوائر </option>
                      <option  [value]="0">-</option>
                      <option *ngFor="let district of districts" [value]="district.id">{{district.designation}}</option>
                    </select>&nbsp;&nbsp;
                    <select class="form-select mb-3 kuffi" style="width: 155px;" name="annexe" #annexe="ngModel" ngModel  [(ngModel)]="a" (ngModelChange)="onAnnexeClicked($event)" *ngIf="showAnnexe">
                      <option disabled value="" selected>   بالملحقات </option>
                      <option  [value]="0">-</option>
                      <option *ngFor="let annexe of annexes" [value]="annexe.id">{{annexe.designation}}</option>
                    </select>







                   

                        <select class="form-select mb-3 kuffi" style="width: 155px;" name="quartier" #quartier="ngModel" ngModel (ngModelChange)="onQuartierClicked($event)">
                            <option disabled value="" selected>   الأحياء </option>
                            <option  [value]="0">-</option>
                            <option *ngFor="let quartier of quartiers" [value]="quartier.id">{{quartier.designation}}</option>
                        </select>&nbsp;&nbsp;
                        <select class="form-select mb-3 kuffi" style="width: 155px;" name="rue" #rue="ngModel" [(ngModel)]="ruee" (ngModelChange)="onRueClicked($event)" *ngIf="showRue">
                            <option disabled value="" selected>   بالشوارع </option>
                            <option  [value]="0">-</option>
                            <option *ngFor="let rue of rues" [value]="rue.id">{{rue.designation}}</option>
                        </select>&nbsp;&nbsp;
                        <select class="form-select mb-3 kuffi" style="width: 155px;" name="ruelle" #ruelle="ngModel" ngModel  [(ngModel)]="ruellee" (ngModelChange)="onRuelleClicked($event)" *ngIf="showRuelle">
                            <option disabled value="" selected>   بالأزقة </option>
                            <option  [value]="0">-</option>
                            <option *ngFor="let ruelle of ruelles" [value]="ruelle.id">{{ruelle.designation}}</option>
                        </select>
           

                      


              </div>
        
         <div class="flex-container">
  
      
       
         </div>
             
                
             
           
            </div>
       
        </div>
        <div class="d-flex">
          <select class="form-select mb-3 kuffi" style="width: 200px;" name="sex" #ruelle="ngModel" ngModel   (ngModelChange)="onSexClicked($event)">
            <option disabled value="" selected>   البحث بالنوع </option>
            <option  [value]="0">-</option>
            <option  value="1">ذكر </option>
            <option  value="2">أنثى </option>
        </select>
  &nbsp;&nbsp;
        <select class="form-select mb-3 kuffi" style="width: 200px;" name="situation" #ruelle="ngModel" ngModel   (ngModelChange)="onSituationClicked($event)">
            <option disabled value="" selected>   البحث بالحالة العائلية</option>
            <option  [value]="0">-</option>
            <option  value="1"> (ة)عازب</option>
            <option  value="2">(ة)متزوج</option> 
            <option  value="3">>مطلقة(ة) </option>
            <option  value="4">أرملة</option>

        </select>
  
        </div>

          <div class="table-responsive">
            <div class="table-container">
  
        
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>الإسم الشخصي</th>
                  <th>الإسم العائلي</th>
                  <th>الجنس</th>
                  <th> الحالة العائلية </th>
                  <th>رقم البطاقة الوطنية</th>
                  <!-- <th>البريد الإلكتروني</th> -->
                  <th>الهاتف</th>
                  <th>الباشوية</th>
                  <th>الدائرة</th>
                  <th>الملحقة</th>
                  <th>الحي </th>
                  <th>الشارع </th>
                  <th>الزنقة</th>
                 
              
  <th>
  
    
  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of citoyens; let i = index">
                  <td style="vertical-align: middle;" class="kuffi">{{p.firstNameAr}}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{p.lastNameAr}}</td>
            
                  <td style="vertical-align: middle;" class="kuffi"> 
                    <span *ngIf="p.sex?.id == 1">ذكر</span>
                    <span *ngIf="p.sex?.id == 2">أنثى</span>
                   
                  </td>
                  
                  <td style="vertical-align: middle;" class="kuffi">
                    <span *ngIf="p.situation?.id=== 1">
                        (ة)عازب</span>
                    <span *ngIf="p.situation?.id=== 2">
                        
                        (ة)متزوج</span>
                    <span *ngIf="p.situation?.id=== 3">مطلقة(ة) </span>
                    <span *ngIf="p.situation?.id=== 4">أرملة</span>
                  </td>
                  <td style="vertical-align: middle;">{{p.cin}}</td>
                  <!-- <td style="vertical-align: middle;">{{p.email}}</td> -->
                  <td style="vertical-align: middle;">{{p.phone}}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.pachalik?.designation || '-' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.district?.designation || '-' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.annexe?.designation || '-' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.quartier?.designation || '-' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.rue?.designation || '-' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.ruelle?.designation || '-' }}</td>
                  
  
                  <td style="vertical-align: middle;">
                      <button class="btn btn-sm btn-warning" style="width: 60px;height: 30px;" (click)="onEditResource(p)">تبديل <i class="ri-edit-line"></i></button>
                      &nbsp;
                      <button class="btn  btn-sm btn-secondary" style="width: 65px;height: 30px;" (click)="onDetailResource(p)">إظهار <i class="ri-eye-line"></i></button>
                      &nbsp;
  
  
                      <button class="btn  btn-sm btn-danger" style="width: 60px;height: 30px;" (click)="onDeleteResource(p)">حذف <i class="ri-delete-bin-6-line"></i></button>
                     
  
  
                    
                  </td>
              </tr>
              
              </tbody>
            </table>
          </div>
          </div>
          <div style="text-align: left;">
            <div style="display: flex; justify-content: space-between;">
              <p class="kuffi">{{ getDisplayRange() }}</p>
              <ul *ngIf="pages && pages.length > 0" class="pagination" [ngClass]="selected == true ? 'd-none' : 'd-flex'">
                  <li class="kuffi">
                      <a class="clickable page-link" (click)="goToPreviousPage()" [ngClass]="{ 'disabled': currentPage === 0 }">السابق</a>
                  </li>
                  <li [ngClass]="i == currentPage ? 'page-item active' : 'page-item'" *ngFor="let p of pages; let i = index">
                      <a class="clickable page-link" (click)="onPageClicked(i)">{{i}}</a>
                  </li>
                  <li class="kuffi">
                      <a class="clickable page-link" (click)="goToNextPage()" [ngClass]="{ 'disabled': currentPage === pages.length - 1 }">التالي</a>
                  </li>
              </ul>
              
          </div>
          
          
       <!-- <span class="kuffi">إظهار {{size}} من أصل {{totalCount}} ملحقات</span> -->
          </div>
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
    <!-- end col -->
  </div>
  
  <!-- end row -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- 
  
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0 flex-grow-1"><i class="ri-line-chart-fill" style="color: #364574;"></i> 
              لائحة مستعملي النظام  </h4>
          </div>
    
          <div class="card-body">
            <div class="row g-4 mb-3">
              <div class="col-sm-auto">
                <div class="search-box ms-2">
                  <input type="text" class="form-control search kuffi" placeholder="بحث...">
                  <i class="ri-search-line search-icon"></i>
              </div> 
               
              </div>
              <div class="col-sm">
                  <div class="d-flex justify-content-sm-end">
                    <button type="button" (click)="withimage()"   class="btn btn-soft-info add-btn"> <i class=" ri-eye-line me-1"></i></button>&nbsp;
                      <button type="button" (click)="addResource()" class="btn btn-success add-btn">مستعمل جديد <i class="ri-add-line align-bottom me-1"></i></button> 
    
                  </div>
                  
              </div>
          </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>الإسم الشخصي</th>
                    <th>الإسم العائلي</th>
                    <th>إسم المرور</th>
                    <th>رقم البطاقة الوطنية</th>
                    <th>البريد الإلكتروني</th>
                    <th>الهاتف</th>
                  <th>الوظيفة</th>
    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of users; let i = index">
                    <td style="vertical-align: middle;" class="kuffi">{{p.firstNameAr}}</td>
                    <td style="vertical-align: middle;" class="kuffi">{{p.lastNameAr}}</td>
                    <td style="vertical-align: middle;">{{p.username}}</td>
                    <td style="vertical-align: middle;">{{p.cin}}</td>
                    <td style="vertical-align: middle;">{{p.email}}</td>
                    <td style="vertical-align: middle;">{{p.phone}}</td>
                    <td style="vertical-align: middle;" class="kuffi">{{p.job}}</td>
                    <td style="vertical-align: middle;">
                        <button class="btn btn-warning" (click)="onEditResource(p.id)">تبديل <i class="ri-edit-line"></i></button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="onDeleteResource(p.id)">إظهار <i class="ri-eye-line"></i></button>
                        &nbsp;
  
  
                        <button class="btn btn-danger" (click)="onDeleteResource(p.id)">حذف <i class="ri-delete-bin-6-line"></i></button>
                    </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <div class="row justify-content-md-between align-items-md-center">
         
            </div>
          </div>
        </div>
      </div>
  
    </div>
      -->