
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4 class="card-title mb-0 flex-grow-1"><i class="ri-line-chart-fill" style="color: #364574;"></i> لائحة الملحقات </h4>
          <button type="button" (click)="addResource()" class="btn btn-success add-btn ms-auto">استفادة جديدة <i class="ri-add-line align-bottom me-1"></i></button>
     
        </div><!-- end card header -->
      
        <div class="card-body">
          <div class="row g-4 mb-3">
            <div class="col-sm flex-container2">
                <!-- <div>
                  1
                </div>
              <div>
                2
              </div> -->
              <div class="search-box d-flex align-items-center">
                <input
                  type="text"
                  class="form-control search kuffi me-2"
                  [(ngModel)]="cin"
                  placeholder="البحث بالبطاقة الوطنية..."
                />
                <button class="btn btn-primary"><i class="ri-search-line"></i></button>&nbsp;
                <select
                  class="form-select me-2 kuffi"
                  style="width: 200px;"
                  name="district"
                  ngModel
                  (ngModelChange)="onRowClickCommon($event)"
                >
                  <option disabled value="" selected>أدخل نوع الشهادة</option>
                  <option [value]="0">-</option>
                  <option *ngFor="let district of typeAttestations" [value]="district.id">
                    {{ district.designation }}
                  </option>
                </select>
               
              </div>
              
              
              
         <!-- <div class="flex-container">
          <div class="kuffi pt-2">أظهر</div> &nbsp;&nbsp;&nbsp;&nbsp;
          <select class="form-select mb-3" style="width: 100px;"  (change)="onSelectedSize($event)">
            <option  [value]="10">10</option>
            <option  [value]="20">20</option>
            <option  [value]="30">30</option>
            
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="kuffi pt-2">مدخلات</div>
      
       
         </div> -->
             
                
             
           
            </div>
       
        </div>
          <div class="">
            <div class="">
  
        
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>إسم المستفيد </th>
                  <th>رقم البطاقة الوطنية  </th>
                  <th> نوع الشهادة </th>
                  <th> بحث عون السلطة  </th>
                  <th> تاريخ تسجيل الشهادة    </th>
                  <th> الغرض من الشهادة   </th>
                  <th>       </th>
             
            
  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of attestations; let i = index">
                  <td style="vertical-align: middle;" class="kuffi">{{p.citoyen?.firstNameAr}}</td>
                  <td style="vertical-align: middle;">{{p?.citoyen?.cin}}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{p.typeAttestation?.designation}}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{p.agentAutorite?.nom}}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{ p.createdAt | date: 'dd/MM/yyyy' }}</td>
                  <td style="vertical-align: middle;" class="kuffi">{{p?.but}}</td>
               
                  <td style="vertical-align: middle;">
                      <!-- <button class="btn btn-sm btn-warning" style="width: 80px;height: 30px;" (click)="onEditResource(p)">تبديل <i class="ri-edit-line"></i></button> -->
                      &nbsp;
                      <button class="btn btn-sm btn-danger" style="width: 80px;height: 30px;" (click)="onDeleteResource(p)">حذف <i class="ri-delete-bin-6-line"></i></button>&nbsp;
                      <button class="btn btn-sm btn-primary" style="width: 150px;height: 30px;" (click)="uploadFile()">استخراج الشهادة <i class="ri-delete-bin-6-line"></i></button>
                  </td>
              </tr>
              
              </tbody>
            </table>
          </div>
          </div>
         
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
    <!-- end col -->
  </div>
  
  <!-- end row -->
  
  