
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h4 class="card-title mb-0 flex-grow-1"><i class="ri-line-chart-fill" style="color: #364574;"></i> لائحة أعوان السلطة </h4>
          <button type="button" (click)="addResource()" class="btn btn-soft-info add-btn ms-auto">تصدير  <i class="ri-file-download-line align-bottom me-1"></i></button>&nbsp;
          <button type="button" (click)="addResource()" class="btn btn-success add-btn ms-auto">عون سلطة جديد <i class="ri-add-line align-bottom me-1"></i></button>
     
        </div><!-- end card header -->
      
        <div class="card-body">
          <div class="row g-4 mb-3">
            <div class="col-sm-auto">
              <div class="d-flex">
        
                
               &nbsp;   <div class="search-box ms-2">
                   
                    <div class="hstack gap-2">
                      <input type="text" class="form-control search kuffi" placeholder="البحث  برقم البطاقة الوطنية   ..." [(ngModel)]="designation">
                      <button type="button" class="btn btn-success" (click)="searchByDesignation()"><i class="ri-search-line"></i></button>
                  </div>
                </div>
              </div>
              </div>
             
       
        </div>
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                <th>الإسم</th>
                <th>النسب</th>
                <th>رقم البطاقة الوطنية</th>
             
            
                <th>الصفة</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of quartiers; let i = index">
                  <td style="vertical-align: middle;" class="kuffi">{{p.prenom}}</td>
                  <td style="vertical-align: middle;">{{p.nom}}</td>
                  <td style="vertical-align: middle;">{{p.cin}}</td>
                  <td style="vertical-align: middle;">{{p.fonction.designation}}</td>
               
                  <td style="vertical-align: middle;">
                      <button class="btn  btn-sm btn-warning" style="width: 80px;height: 30px;" (click)="onEditResource(p)">تبديل <i class="ri-edit-line"></i></button>
                      &nbsp;
                      <button class="btn  btn-sm btn-danger" style="width: 80px;height: 30px;" (click)="onDeleteResource(p['_links'].self.href)">حذف <i class="ri-delete-bin-6-line"></i></button>
                  </td>
              </tr>
              
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center">
            <!-- <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div> -->
            <!-- Pagination -->
            <!-- <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end gridjs-pagination">
                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div> -->
            <!-- End Pagination -->
          </div>
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  
  