
<!-- auth-page wrapper -->
<div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
    <div class=""></div>
    <!-- auth-page content -->
    <div class="auth-page-content bg-overlay overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <hr> -->
                    <div  class="mb-4">
                     
                
                    </div>
                <!-- <hr> -->
                    <div class="card overflow-hidden">
                       
                       
                        <div class="row g-0">
                       
                         
                            

                         
                                                        <div class="col-lg-6">
                        
                                
                                <div class="p-4 pt-3">
                                    <div class="pt-4">
                                        <h5 class="text-primary droid-arabic-kufi">تسجيل الدخول</h5>
                                        <p class="droid-arabic-kufi text-muted">سجل الدخول لحسابك الخاص</p>
                                    </div>

                                    <div class="mt-4">
                                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                            <div class="mb-3">
                                                <label for="username" class="form-label droid-arabic-kufi">إسم المستخدم</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon2"><i class="ri-user-3-fill"></i></span>
                                                <input type="text" class="form-control username-placeholder"
                                                 id="username" placeholder="أدخل إسم المستخدم الخاص بك" 
                                                 formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                                @if (submitted && f['name'].errors) {
                                                    <div class="invalid-feedback">
                                                        @if(f['name'].errors['required']){
                                                            <span class="droid-arabic-kufi">المرجو إدخال إسم المستخدم</span>
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label droid-arabic-kufi" for="password-input">كلمة المرور</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon2"><i class="ri-lock-fill"></i></span>
                                                <input type="password" class="form-control password-placeholder"
                                                placeholder="أدخل كلمة المرور الخاصة بك" id="password-input"
                                                 formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                                @if (submitted && f['password'].errors) {
                                                    <div class="invalid-feedback">
                                                        @if(f['password'].errors['required']){
                                                            <span class="droid-arabic-kufi">المرجو إدخال كلمة المرور</span>
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            
                                            </div>
                                            <!-- <div class="mb-3">
                                             
                                                <label class="form-label droid-arabic-kufi" for="password-input">كلمة المرور</label>
                                                
                                                <div class="position-relative auth-pass-inputgroup mb-3">
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon2"><i class="ri-lock-fill"></i></span>
                    <input type="password" class="form-control pe-5 password-input password-placeholder" 
                    placeholder="أدخل كلمة المرور الخاصة بك" id="password-input"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">


                                                    @if (submitted && f['password'].errors) {
                                                        <div class="invalid-feedback">
                                                            @if(f['password'].errors['required']){
                                                                <span class="droid-arabic-kufi">المرجو إدخال كلمة المرور</span>
                                                           
                                                            }
                                                        </div>
                                                        }
                                                </div>
                                                
                                                   

                                                </div>
                                            </div> -->

                                            <!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                                <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                            </div> -->

                                            <div class="mt-4">
                                                <button class="btn btn-success w-100 droid-arabic-kufi" type="submit">دخول</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <div class="signin-other-title">
                                                    <h5 class="fs-13 mb-4 title"></h5>
                                                </div>

                                                <div class="d-flex gap-2 justify-content-center">
                                                    
                                                </div>
                                            </div>


                                        </form>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4 auth-one-bg h-100">
                                    <div class="bg-overlay"></div>
                                    <div class="position-relative h-100 d-flex flex-column">
                                        <div class=" mb-4 droid-arabic-kufi text-center" style="color: white;font-size: 26px;margin-top: 20px;">
                                      النظام المعلوماتي الخاص بمخطط التنمية الترابية المندمجة

                                        </div>
                                        <div class="mt-auto">
                                            <div class="mb-3">
                                                <i class="ri-double-quotes-l display-4 text-success"></i>
                                            </div>

                                            <ngb-carousel [showNavigationArrows]="showNavigationArrows">
                                                <ng-template ngbSlide>
                                                    <div class="carousel-inner text-center text-white-50 pb-5">
                                                        <div class="carousel-item active">
                                                            <p class="fs-15 fst-italic droid-arabic-kufi">"
                                                                
                                                                تمثيل وتحليل المعطيات الترابية والخدمات العمومية على خريطة تفاعلية.
                                                                
                                                                "</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                                <ng-template ngbSlide>
                                                    <div class="carousel-inner text-center text-white-50 pb-5">
                                                        <div class="carousel-item active">
                                                            <p class="fs-15 fst-italic droid-arabic-kufi">"   كشف الفوارق المجالية وتحديد المناطق ذات الأولوية للتدخل من خلال مؤشرات دقيقة خاصة بالتعليم، الصحة، الماء، والتجهيزات العمومية.
                                                                "</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                           
                                                <ng-template ngbSlide>
                                                    <div class="carousel-inner text-center text-white-50 pb-5">
                                                        <div class="carousel-item active">
                                                            <p class="fs-15 fst-italic droid-arabic-kufi">"دعم اتخاذ القرار والتخطيط الترابي عبر توفير تشخيص مجالي واضح يساعد المسؤولين على توجيه المشاريع والاستثمارات بشكل أفضل.
                                                                
                                                                "</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ngb-carousel> 

                           
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- <hr> -->
                    <!-- end card -->
                </div>
                <!-- end col -->

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <!-- <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0">&copy; {{year}} Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->