@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.droid-arabic-kufi {
  font-family: 'Droid Arabic Kufi', serif;
}

.footer-left {
  display: block;
  width: 100%;
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}