<div class="app-menu navbar-menu" style="background-color: #405189;">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar" style="background-color: #405189;">
        <div class="container-fluid" style="background-color: #405189;">

            <div id="two-column-menu" style="background-color: #405189;">
            </div>
            <ul class="navbar-nav" id="navbar-nav" dir="ltr">
                <!-- <li class="nav-item" *ngIf="getConnectedUserRole()=='ADMIN'">
                  <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                    [routerLink]="['/users/list']" [routerLinkActive]="['is-active']">
                        <span class="droid-arabic-kufi" style="color: white !important;">تدبير المستعملين</span>  
                    </a>
                </li> -->
                <li class="nav-item" *ngIf="getConnectedUserRole()=='ADMIN'">
                  <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                    [routerLink]="['/maroc']" [routerLinkActive]="['is-active']">
                        <span class="text-start" style="color: white !important;">Maroc</span>
                        

                    </a>
                </li>
            
          
                 <li class="nav-item" *ngIf="getConnectedUserRole()=='ADMIN'">
                  <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                    [routerLink]="['/regionLaayoune']" [routerLinkActive]="['is-active']">
                        <span class="text-start" style="color: white !important;">Région</span>
                        

                    </a>
                </li>
                 <li class="nav-item" *ngIf="getConnectedUserRole()=='ADMIN'">
                  <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                    [routerLink]="['/provinceLaayoune']" [routerLinkActive]="['is-active']">
                        <span class="text-start" style="color: white !important;">Province</span>
                        

                    </a>
                </li>
                 
          
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/attestations/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des attestations</span>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/citoyens/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des citoyens</span>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/districts/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des districts</span>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/annexes/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des annexes</span>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/quartiers/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des quartiers</span>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/rues/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des rues</span>
                      </a>
                  </li>
                      
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/ruelles/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des ruelles</span>
                      </a>
                  </li>
             
                      
                  <li class="nav-item" *ngIf="getConnectedUserRole()=='USER-AAL'||getConnectedUserRole()=='USER-DSIT'||getConnectedUserRole()=='USER-AAL'">
                    <a href="javascript:void(0);" class="is-parent nav-link menu-link"
                      [routerLink]="['/agents/list']" [routerLinkActive]="['is-active']">
                          <span class="text-start" style="color: white !important;">Gestion des agents d'autorité</span>
                      </a>
                  </li>
                  
              
                
                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>